<%- include('partials/header.ejs'); -%>

    <div class="container-fluid">
        <div class="col">
            <div class="row">
                <% for( let book of bookItems ) { %>
                    <h4>Title: <%= book.book_name %></h4>
                    <p><strong>Author: <%= book.book_author %></strong></p>
                <% } %>
            </div>
        </div>
    </div>


    <%- include('partials/footer.ejs'); -%>